
.jumbotron
{
	h1, p
	{
		text-align: center;
	}

	margin: 16px;
	border: 1px solid #999;
	border-radius: 4px;

}


.recipe-box
{
	border: 2px solid gray;
	margin: 16px;
	padding: 8px;
	border-radius: 8px;
}


.recipe
{
	border: 2px solid black;
	margin: 8px;
	border-radius: 8px;
}


.recipe-heading
{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;


	background-color: #dff0d8;
	padding: 8px;

	border-radius: 8px;

	&:hover
	{
		cursor: pointer;
	}
}
.recipe.open
{
	.recipe-heading
	{
		border-radius: 8px 8px 0px 0px;
		border-bottom: 1px solid black;
	}
	.detail-wrap
	{
		max-height: 200px;
	}
}
.detail-wrap
{
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-in;
}


.recipe-detail.list-group
{
	margin-bottom: 0;

	.list-group-item:last-child
	{
		border-radius: 0px 0px 8px 8px;
	}
}
