
.jumbotron
{
	h1, p
	{
		text-align: center;
	}

	margin: 16px;
	border: 1px solid #999;
	border-radius: 4px;

}


.bg-warning
{
	border: 1px solid #999;
	margin: 16px;
	padding: 16px;
	border-radius: 4px;
}

.bg-success
{
	border: 1px solid green;
	margin-bottom: 4px;
	padding: 4px;
	border-radius: 4px;
}
