
.jumbotron
{
	h1, p
	{
		text-align: center;
	}

	margin: 16px;
	border: 1px solid #999;
	border-radius: 4px;

}


.recipe-box
{
	border: 2px solid gray;
	margin: 16px;
	padding: 8px;
	border-radius: 8px;
}

.recipe
{
	border: 2px solid black;
	// background-color: yellow;
	margin: 8px;
	border-radius: 8px;
}

.recipe.open
{
	.detail-wrap
	{
		// max-height: 200px;
	}
}

.detail-wrap
{
	// max-height: 0;
}


.recipe-heading
{
	background-color: #dff0d8;
	padding: 8px;

	border-radius: 8px;
	&.on
	{
		// border-radius: 8px 8px 0px 0px;
		// border-bottom: 1px solid black;
	}


	&:hover
	{
		cursor: pointer;
	}
}
.recipe.open
{
	.recipe-heading
	{
		border-radius: 8px 8px 0px 0px;
		border-bottom: 1px solid black;
	}
}


.recipe-detail.list-group
{
	margin-bottom: 0;

	.list-group-item:last-child
	{
		// background: yellow;
		border-radius: 0px 0px 8px 8px;
	}
	// border: 1px solid blue;

	// border-left: 1px solid blue;
	// border-right: 1px solid blue;
	// border-bottom: 1px solid blue;

	// margin: 8px;
	// padding: 8px;

	// border-radius: 0px 0px 4px 4px;

	// border-radius: 4px;
}
